<nav>
<div>
	<div class="nav-left">
		<a href="{{ path('recherche') }}"><img src={{ asset('img/logo.png') }} width="65" height="65" alt="Logo Facile Immo"></a>
	</div>
	<div class="nav-center">
		<a href="{{ path('home') }}">Accueil</a>
		<a href="{{ path('recherche') }}">Comment acheter ?</a>
	</div>
	<div class="nav-right">
		{% if app.user %}
			<a href="{{ path('profil') }}">Profil</a>

			<a href="{{ path('logout') }}">Déconnexion</a>
		{% else %}
			<a href="{{ path('login') }}">Connexion</a>
			<a href="{{ path('inscription') }}">S'enregistrer</a>
		{% endif %}
	</div>
</div>
</nav>