{% set nonCom = "Non communiqué" %}
<div class="informations">    
	<div class="prix">
		<p>{{offre.prix|number_format(0, '', ' ')}} €</p>
	</div>
	<p>{{offre.type|capitalize}}</p>
	<p>{{offre.localisation.nom|capitalize}}</p>
	<p>Étage : {{offre.etage ? offre.etage : nonCom}}</p>
	<div class="superficie">
		<p>Superficie : {{offre.superficie}}m²</p>
	</div>
</div>