{% extends 'base.html.twig' %}

{% block title %}Détail de l'offre{% endblock %}

{% block content %}
<div class="container-flex detail">
	<div class="offre-detail">

		{% include "_parts/offre-carousel.html.twig" %}
		
		<div class="informations">
			<div class="prix">
				<p>{{offre.prix|number_format(0, '', ' ')}} €</p>
			</div>
			<div class="informations-autre">
				<p>{{offre.type|capitalize}}</p>
				<p>{{offre.localisation.nom}}</p>
				{% if offre.etageTotal > 0 %}
					<p>Étage {{offre.etage}}/{{offre.etageTotal}}</p>
				{% else %}
					<p>{{offre.etage}} étage{{offre.etage > 1 ? 's' : ''}}</p>
				{% endif %}
				<p>
					{{offre.piece}} pièce{{offre.piece > 1 ? 's' :''}}, 
					{{offre.chambre}} chambre{{offre.chambre > 1 ? 's' :''}} 
				</p>
				<p>Superficie : {{offre.superficie}}m²</p>
			</div>			
		</div>
		<div class="description">
			<h3>Description</h3>
			<p>{{ offre.description ? offre.description : "Aucune description"}}</p>
		</div>
	</div>
</div>
{% endblock %}