{% extends 'base.html.twig' %}

{% block title %}Détail de l'offre{% endblock %}

{% block content %}
<div class="container-flex detail">
	<div class="offre-detail">		
		<div class="image">
			<img src="{{ asset('img/bien-immobilier/01.jpg') }}" alt="Photographie du logement">
		</div>
		<div class="informations">
		<div class="prix">
			<p>{{offre.prix|number_format(0, '', ' ')}} €</p>
		</div>
		<div class="description">
			<p>{{ offre.description ? "Aucune description"}}</p>
		</div>

		<p>{{offre.type|capitalize}}</p>
		{% if offre.etageTotal > 0 %}
			<p>Étage {{offre.etage}}/{{offre.etageTotal}}</p>
		{% else %}
			<p>{{offre.etage}} étage{{offre.etage > 1 ? 's' : ''}}</p>
		{% endif %}
		<p>
			{{offre.piece}} pièce{{offre.piece > 1 ? 's' :''}}, 
			{{offre.chambre}} chambre{{offre.chambre > 1 ? 's' :''}} 
		</p>
		<div class="superficie">
			<p>Superficie : {{offre.superficie}}m²</p>
			{% if offre.terrain > 0 %}
				<p>Terrain : {{offre.terrain}}m²</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}