{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="container-flex interet">
    <div class="left-menu interet">
        <div>
            <div>
                <img src="{{ asset('img/profile-user.svg') }}" alt="Image de profil">
                <h2>Vos informations</h2>
            </div>
            <div class="informations-user">
                <p>Email : <b>{{ user.email }}</b></p>
                <p>Nom : <b>{{ user.nom }}</b></p>
                <p>Prénom : <b>{{ user.prenom }}</b></p>
                <p>Téléphone : <b>{{ user.telephone }}</b></p>
            </div>
            <div class="liens interet">
                <a href="#">Modifier vos informations</a>
                <a href="{{ path('profil.offre.masquee') }}">Vos offres masquées</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="right-menu interet">
    <div>
        <h2>Vos offres aimées</h2>
    </div>
    {% if likedOffers is empty %}
        <div class="no-result">
            <i class="fa-solid fa-circle-exclamation"></i>
            <h2>Vous n'avez pas liké de biens pour le moment, cliquez sur le coeur attaché à une offre lors de votre future recherche. Les offres mises en favori seront affichées ici !<h2>
        </div>
    {% else %}
    {% for offre in likedOffers %}
        <div class="offre-container interet">

            {% include "_parts/offre-carousel.html.twig" %}

            <a class="offre interet" href="{{ path('offre.detail', { 'id': offre.id }) }}">
                {% include "_parts/offre-informations.html.twig" %}
            </a>
            {% if app.user %}
                <div class="likes-container delete">
                    {% include "_parts/delete-likes.html.twig" %}
                </div>
            {% endif %}

        </div>
    {% endfor %}
    </div>
    
</div>
{% endblock %}


