{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container-flex detail">
	<div class="offerDetail">
		<div class="image">
			<img src="https://via.placeholder.com/820x440?text=Photographie du logement" alt="Photographie du logement">
		</div>
		<div class="informations">    
			<div class="prix">
				<p>{{offerDetail.prix|number_format(0, '', ' ')}} €</p>
			</div>
			<p>{{offerDetail.type|capitalize}}</p>
			{% if offerDetail.etageTotal > 0 %}
				<p>Étage {{offerDetail.etage}}/{{offerDetail.etageTotal}}</p>
			{% else %}
				<p>{{offerDetail.etage}} étage{{offerDetail.etage > 1 ? 's' : ''}}</p>
			{% endif %}
			<p>
				{{offerDetail.piece}} pièce{{offerDetail.piece > 1 ? 's' :''}} , 
				{{offerDetail.chambre}} chambre{{offerDetail.chambre > 1 ? 's' :''}} 
			</p>
			<div class="superficie">
				<p>{{offerDetail.superficie}}m²</p>
			</div>
			<div class="description">
				<p></p>
				{# <p>{{offerDetail.description}}</p> #}
			</div>
		</div>
		
	</div>
</div>
{% endblock %}